<div class="posts span3">
            <div class="widget">
                <div class="title"><h3>个人设置</h3></div>
                <ul class="links-list-alt">
                    <li><a href="#">基本设置</a></li>
                    <li><a href="#">病历设置</a></li>
                    <li><a href="#">个性设置</a></li>
                    <li><a href="#">密码设置</a></li>
                    <li><a href="#">绑定设置</a></li>
                </ul>
            </div>
        </div>