{% extends "::base.html.twig" %}
{% block title %}{{ user.getUsername }} 的相册{% endblock title %}
{% block page_title %}
<div class="row-fluid">
    <div id="page-title" class="span4 offset4">
        <h2>{{ user.getUsername }} 的相册</h2>
    </div>
</div>
{% endblock page_title %}

{% block wrapper %}
<div id="wrapper">
    <!-- start: Portfolio -->
    <div id="wall" class="row-fluid">
        {% for album in albums %}
        <div class="span3 item nature people">
            <div class="picture">
                <a class="image" href="{{ path('album_detail', {'id' : album.getId(), 'uid': user.getId()}) }}" title="Title"><img src="img/photo1.jpg" alt="" /></a>
                <div class="description">
                    <p>
                       {{ album.getName() }}
                    </p>
                </div>
            </div>	
        </div>
        {% endfor %}
    </div>
    <!-- end: Portfolio -->
</div>
<!-- end: Wrapper  -->
{% endblock wrapper %}
