index:
    pattern:  /
    defaults: { _controller: DnguWebBundle:Statics:index }
homepage:
    pattern:  /@{uid}
    defaults: { _controller: DnguWebBundle:User:homepage }
    
#album
album_list:
    pattern: /@{uid}/albums/{page}
    defaults: { _controller: DnguWebBundle:Album:list, page: 1 }
album_detail:
    pattern: /@{uid}/album/{id}/{page}
    defaults: { _controller: DnguWebBundle:Album:list, page: 1 }
    
    
    
#setting
setting_basic:
    pattern: /setting/basic
    defaults: { _controller: DnguWebBundle:Setting:basic }

setting_case:
    pattern: /setting/case
    defaults: { _controller: DnguWebBundle:Setting:case }
    
setting_personality:
    pattern: /setting/personality
    defaults: { _controller: DnguWebBundle:Setting:personality }
    
setting_passport:
    pattern: /setting/passport
    defaults: { _controller: DnguWebBundle:Setting:passport }
    
setting_bind:
    pattern: /setting/bind
    defaults: { _controller: DnguWebBundle:Setting:bind }
