parameters:
#    dngu_web.example.class: Dngu\WebBundle\Example

services:
    twig_extension:
        class: Dngu\WebBundle\Twig\TwigExtension
        arguments: [@service_container]
        tags:
            - { name: twig.extension }
            
    album_process:
        class: Dngu\WebBundle\Util\EntityProcess\AlbumEntityProcess
        arguments: [@service_container]
        
    statistics_process:
        class: Dngu\WebBundle\Util\EntityProcess\StatisticsEntityProcess
        arguments: [@service_container]
        
    entity_validator:
        class: Dngu\WebBundle\Validator\EntityValidator
        arguments: [@service_container]
        
    dngu.user.router:
        class: Dngu\WebBundle\Util\UserRouterService
        arguments: [@router]
        
    dngu.image.upload:
        class: Dngu\WebBundle\Util\ImageUploadService
        arguments: [%kernel.root_dir%]
        
        
